/* 
    Summer Hacks
    SOA Code Room
    Project Template
    Use this template: https://github.com/SOACodeRoom/summerhacks-projectName/generate
    style.css: You will write your css code for your portfolio website here. You can add other css files too but it must be under "css" folder.

*/
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

}
html {
  scroll-behavior: smooth;
}
/*Navbar*/
nav{
	background: rgb(50,31,40);
	background: linear-gradient(90deg, rgba(50,31,40,1) 0%, rgba(160,83,68,1) 35%, rgba(231,158,79,1) 100%);
	font-family: 'Itim', cursive;
	font-size: 25px;
}
/*Cover*/
#cover{
	background-image:url('../assets/cover_bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 90px;
	padding-right: 25px;
	z-index: 1;
	height: 100vh;
}
div.cover_cont{
		margin-right: 20px;
	}
/*About H1*/
.content h1{
	font-family: 'Prompt', sans-serif;
	float: right;
	clear: both;
	z-index: 2;
	margin: 0px;
	color:#ffffff;
}
/*Content*/
.content {
	margin-left: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*GET EVERY SINGLE SOLUTION*/
.solution{
	color: #e79e4f;
	margin-top: 50px;
	margin-bottom: 8px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}
/*Code icon*/
.solution i{
	vertical-align: middle;
}
/*Name*/
div.name{
	margin-bottom: 8px;
}
/*Quote icon*/
span.description i{
	vertical-align: text-top;
}
/*Description Content*/
span.description{
	color: #d2d4d4;
	font-style: italic;
	font-size:1.3em;
}
#cover h1{
	font-size: 2.5em;
}
/*End of Cover*/
/*About*/

#about_sub{
	display: flex;
	flex-wrap: wrap;
}
#about_sub div:nth-of-type(1)
{
	background-color: #321f28;
	padding: 15vh; 
	color: #fff;
}
#about_sub div:nth-of-type(2)
{
	background-color: #e79e4f;
}
#about h2{
	font-family: 'Itim', cursive;
	font-weight: 700;
}
#about p{
	font-family: 'Rubik', sans-serif;
	font-size: 17px;
}
.about_pic{
	border-radius: 50%;
	margin: 15vh 0 15vh 0;
	box-shadow: -10px 10px 7px #734046; 
}
#services{
	width: 100%;
}
.serv1{
	height: 65vh;
	width: 100%;
	background-color: #734046;
}
.serv2{
	height: 35vh;
	width: 100%;
	background-color: #e79e4f;
}
.serv1 h2{
	color: #fff;
	padding-top: 5vh;
	font-family: 'Itim', cursive;
	font-weight: 700;
}
.serv1 p{
	color: #fff;
	font-family: 'Rubik', sans-serif;
	font-size: 17px;
	padding-top: 10px;
}
.card_front img{
	width: 150px;
	height: 150px;
}
.card{
	margin: 10px auto 0;
	border-radius: 25px;
	background: transparent;
	border: none;
	perspective: 1000px;
}
.card_inner{
	width: 100%;
	height: 70vh;
	transition: transform 1s;
	transform-style: preserve-3d;
	cursor: pointer;
	position: relative;
}
.card_inner.is_flipped{
	transform: rotateY(180deg);
}
.card_face{
	position: absolute;
	width: 100%;
	height: 70vh;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.7);
	flex-direction: column;
}
.card_front{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(50,31,40);
	background: linear-gradient(90deg, rgba(50,31,40,1) 0%, rgba(160,83,68,1) 35%, rgba(231,158,79,1) 100%);
}
.card h2{
	color: #fff;
	font-weight: 550;
}
.card_back{
	transform: rotateY(180deg);
	background-color: #f3f3f3;
}
.card_header{
	position: relative;
	padding: 30px 30px 40px;
}
.card_header:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	border-radius: 0 0 50% 0;
	background: rgb(50,31,40);
	background: linear-gradient(90deg, rgba(50,31,40,1) 0%, rgba(160,83,68,1) 35%, rgba(231,158,79,1) 100%);
}
.card_back img{
	width: 90px;
	height: 90px;
}
.card_back h2{
	display: inline-block;
	margin-left: 15px; 
}
.card_body{
	padding: 10px 30px 10px 30px;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
.tech{
	width: 100%;
	height: 35vh;
	background-color: #e79e4f;
}
.tech h2{
	text-align: center;
	font-family: 'Itim', cursive;
	font-weight: 600;
}
.tech hr{
	margin: 0.5rem 0;
	height: 2px;
	background-color: #212529;
	width: 32%;
}
.tech i{
	font-size: 100px;
}
div.icons{
	margin-top: 50px;
	word-spacing: 30px;
}
#achieve{
	width: 100%;
	background: rgb(50,31,40);
	background: linear-gradient(90deg, rgba(50,31,40,1) 0%, rgba(160,83,68,1) 35%, rgba(231,158,79,1) 100%);
	padding-top: 10px;
}
#achieve_sub{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}
.achieve_card{
	position: relative;
	max-width: 300px;
	height: 180px;
	margin: 30px 30px 20px 30px;
	padding: 20px 15px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.7);
	transition: 0.3s ease-in-out;
}
.achieve_card:hover{
	height: 290px;
}
.imgBox{
	position: relative;
	display: flex;
    justify-content: center;
	width: 260px;
	height: 180px;
	top: -50px;
	left: 5px;
}
.imgBox img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
}
.ach_head{
	font-family: 'Itim', cursive;
	font-weight: 700;
	color: #fff;
}
.achieve_card h2{
	font-family: 'Itim', cursive;
	font-weight: 600;
	font-size: 1.5rem;
} 
.card_content{
	position: relative;
	margin-top: -40px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.achieve_card:hover .card_content{
	visibility: visible;
	opacity: 1;
}
@media (min-width: 0px) and (max-width: 768px) and (orientation: portrait){
	.card_container{
		flex-direction: column;
	}
	#about_sub div:nth-of-type(1){
		padding: 10vh;
	}
	.service_desrcip{
		padding: 0px 15px 0px 15px;
	}
}
@media (min-width: 0px) and (max-width: 768px) and (orientation: landscape){
	.card_container{
		flex-direction: column;
	}
}
@media (min-width: 0px) and (max-width: 576px) and (orientation: landscape){
	.solution{
		font-size: 0.5em;
		margin-top: 1vh;
		margin-bottom: 5px;
	}
	#cover h1{
		font-size: 0.8em;
	}
	div.name{
		margin-bottom: 2px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.55em;
	}
	div.content{
		padding-left:50vh;
	}
	.card_inner{
		height: 120vh;
	}
	.card_face{
		height: 120vh;
	}
	.serv1{
		height: 250vh;
	}
	.serv2{
		height: 190vh;
	}
	.tech{
		height: 100vh;
	}
}
@media (min-width: 0px) and (max-width: 320px) and (orientation: portrait){
	div.cover_cont{
		margin-right: -10px;
	}
	.solution{
		font-size: 0.5em;
		margin-top: 5vh;
		margin-bottom: 5px;
	}
	#cover h1{
		font-size: 0.8em;
	}
	div.name{
		margin-bottom: 2px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.55em;
	}
	div.content{
		padding-left:10vh;
	}
	.card_header{
		padding-bottom: 20px;
	}
	.card_body{
		font-size: 13.5px;
	}
	.serv1{
		height: 160vh;
	}
	.serv2{
		height: 115vh;
	}
	.tech{
		height: 72vh;
	}
	.tech i{
		display: inline-block;
		margin-bottom: 10px;
	}
	.tech i:nth-of-type(5){
		margin-bottom: 0px;
	}
}
@media (min-width: 321px) and (max-width: 370px) and (orientation: portrait){
	div.cover_cont{
		margin-right: -10px;
	}
	.solution{
		font-size: 0.7em;
		margin-top: 7vh;
		margin-bottom: 5px;
	}
	#cover h1{
		font-size: 0.8em;
	}
	div.name{
		margin-bottom: 2px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.7em;
	}
	div.content{
		padding-left:10vh;
	}
	.card_header{
		padding-bottom: 20px;
	}
	.card_body{
		font-size: 15.5px;
	}
	.serv1{
		height: 140vh;
	}
	.serv2{
		height: 125vh;
	}
	.tech{
		height: 65vh;
	}
	.tech i{
		display: inline-block;
		margin-bottom: 10px;
	}
	.tech i:nth-of-type(5){
		margin-bottom: 0px;
	}
}
@media (min-width: 371px) and (max-width: 576px) and (orientation: portrait){
	.solution{
		font-size: 0.7em;
		margin-top: 7vh;
		margin-bottom: 7px;
	}
	#cover h1{
		font-size: 1em;
	}
	div.name{
		margin-bottom: 7px;
	}
	span.description i{
		font-size: 4px;
	}
	span.description{
		font-size: 0.7em;
	}
	div.content{
		padding-left: 13vh;
	}
	.card_header{
		padding-bottom: 30px;
	}
	.serv1{
		height: 130vh;
	}
	.serv2{
		height: 128vh;
	}
	.tech{
		height: 48vh;
	}
	.tech i{
		display: inline-block;
		margin-bottom: 10px;
	}
	.tech i:nth-of-type(5){
		margin-bottom: 0px;
	}
	div.icons{
		word-spacing: 10px;
	}
}
@media (min-width: 577px) and (max-width: 768px) and (orientation: portrait){
	.card_body{
		font-size: 25px;
	}
	.serv1{
		height: 110vh;
	}
	.serv2{
		height: 130vh;
	}
	.card h2{
		font-size: 40px;
	}
	.tech{
		height: 25vh;
	}
}
@media (min-width: 577px) and (max-width: 767px) and (orientation: portrait){
	.solution{
		font-size: 1.3em;
		margin-top: 5vh;
		margin-bottom: 7px;
	}
	#cover h1{
		font-size: 1.5em;
	}
	div.name{
		margin-bottom: 7px;
	}
	span.description i{
		font-size: 8px;
	}
	span.description{
		font-size: 1.3em;
	}
}
@media (min-width: 577px) and (max-width: 767px) and (orientation: landscape){
	.solution{
		font-size: 0.8em;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	#cover h1{
		font-size: 1.15em;
	}
	div.name{
		margin-bottom: 3px;
	}
	span.description i{
		font-size: 8px;
	}
	span.description{
		font-size: 0.7em;
	}
	.card_inner{
		height: 80vh;
	}
	.card_face{
		height: 80vh;
	}
	.serv1{
		height: 180vh;
	}
	.serv2{
		height: 130vh;
	}
	.tech{
		height: 60vh;
	}
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait){
	
	.solution{
		font-size: 1.2em;
		margin-top: 15vh;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 1.9em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size: 1.09em;
	}
	div.content{
		padding-left: 12vh;
	}
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape){
	
	.solution{
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 1.5em;
	}
	span.description i{
		font-size: 7px;
	}
	span.description{
		font-size: 0.7em;
	}
	div.name{
		margin-bottom: 10px;
	}
	div.content{
		padding-left: 30vh;
	}
	.card_container{
		flex-direction: column;
	}
	.card_inner{
		height: 80vh;
	}
	.card_face{
		height: 80vh;
	}
	.serv1{
		height: 170vh;
	}
	.serv2{
		height: 130vh;
	}
	.tech{
		height: 58vh;
	}
}
@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait){
	.solution{
		font-size: 1.2em;
		margin-top: 20vh;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 2.3em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size:1.6em;
	}
	div.content{
		padding-left: 13vh;
	}
	.card_inner{
		height: 50vh;
	}
	.card_face{
		height: 50vh;
	}
	.serv1{
		height: 45vh;
	}
	.serv2{
		height: 40vh;
	}
	#about_sub div:nth-of-type(1){
		padding: 5vh;
	}
	.about_pic{
		margin-top: 10vh;
	}
	.tech{
		margin-top: -15vh;
		height: 20vh;
	}
}
@media (min-width: 992px) and (max-width: 1199px) and (orientation: landscape){
	.solution{
		font-size: 1.2em;
		margin-top: 5vh;
		margin-bottom: 10px;
	}
	#cover h1{
		font-size: 2em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size:1.3em;
	}
	div.content{
		padding-left: 30vh;
	}
	.card_back h2{
		padding: 0px;
	}
	.card_header{
		padding-bottom: 25px;
	}
	.card_body{
		font-size: 15.5px;
	}
}
@media (min-width: 1200px) and (orientation: landscape){
	#cover{
		margin-top: -10vh;
	}
	.solution{
		font-size: 1.5em;
		padding-top: 2vh;
	}
	#cover h1{
		font-size: 2.5em;
	}
	span.description i{
		font-size: 10px;
	}
	span.description{
		font-size:1.5em;
	}
	#about{
		height: 100vh;
	}
	#about_sub{
		height: 100vh;
	}
	#about_sub div:nth-of-type(1){
		padding: 20vh 15vh 20vh 15vh; 
	}
	.about_pic{
		margin-top: 20vh;
	}
}